<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp420221019142531.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/075880b7-fccb-410c-8c2f-79522e567bf2/resourcegroups/JustForTest/providers/Microsoft.Web/sites/FunctionApp420221019142531</ResourceId>
    <UserName>$FunctionApp420221019142531</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp420221019142531.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>