<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionhttptest20221018145219.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/075880b7-fccb-410c-8c2f-79522e567bf2/resourcegroups/DefaultResourceGroup-EJP/providers/Microsoft.Web/sites/AzureFunctionHttpTest20221018145219</ResourceId>
    <UserName>$AzureFunctionHttpTest20221018145219</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctionhttptest20221018145219.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>